/* ========================
 * ATMOS DASHBOARD TEMPLATE
 * ========================
 * Author: Travis Coats, Zen Perfect Design
 * CSS variables and root style adjustments
 */
:root {
    --default-br: 25px;
    --default-pad: 25px;
    --default-fontsize: 20px;
    --primary-color: #3eaaa0;
    --secondary-color: #43bfb4;
}

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

::-moz-selection {
    background: white;
    text-shadow: none;
    color: #222;
}

::selection {
    background: var(--secondary-color);
    text-shadow: none;
    color: white;
}

*:focus {
    outline: none;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

body {
    position: relative;
    background: var(--primary-color);
    background: -webkit-linear-gradient(to right, var(--primary-color) , var(--secondary-color));
    background: linear-gradient(to right, var(--primary-color) , var(--secondary-color));
    color: white;
    font-size: var(--default-fontsize);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 26px;
}

h4, h5, h6 {
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: normal;
    margin: 0;
    padding: 25px 0;
}

.section-header {
    padding: var(--default-pad) 0;
    border-bottom: 3px dotted #000;
    margin-bottom: var(--default-pad);
    color: var(--secondary-color);
}

p {
    font-size: var(--default-fontsize);
}

blockquote {
    padding-left: var(--default-pad);
    font-style: italic;
}

blockquote p {
    font-size: 22px;
    font-style: italic;
    border-left: 5px solid var(--primary-color);
    padding-left: var(--default-pad);
}

ul, ol, dl {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: var(--default-fontsize);
}

dl dt {
    color: var(--secondary-color);
    font-weight: bold;
}

dl dd {
    padding: 10px 0;
    margin: 0;
}

a, a:visited, a:hover {
    color: inherit;
}

code {
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    font-family: monospace;
    font-size: var(--default-fontsize);
    background: rgba(0,0,0,0.7);
    color: #AAA;
}

.error {
    color: tomato;
}

.success {
    color: lime;
}

.warning {
    color: darkorange;
}

/* =====================================
 * Containers, Sections, and Grid styles
 * =====================================
 */

.row {
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
}

.col {
    flex: auto;
    margin: 0 25px 25px 0;
}

.col-2 {
    flex: 2;
    margin: 0 25px 25px 0;
    flex-basis: calc(100% / 6 - 25px);
}

.col-3 {
    flex: 3;
    margin: 0 25px 25px 0;
    flex-basis: calc(25% - 25px);
}

.col-4 {
    flex: 4;
    margin: 0 25px 25px 0;
    flex-basis: calc(100% / 3 - 25px);
}

.col-6 {
    flex: 6;
    margin: 0 25px 25px 0;
    flex-basis: calc(50% - 25px);
}

.col-8 {
    flex: 8;
    margin: 0 25px 25px 0;
    flex-basis: calc(100% / 1.5 - 25px);
}

@media (max-width: 1140px) {
    .col-2, .col-3, .col-4, .col-6, .col-8 {
        flex-basis: 100%;
        margin-right: 0;
    }
}

.window {
    position: fixed;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    top: 25px;
    left: 25px;
    display: flex;
    flex: auto;
    flex-direction: row;
    align-content: end;
    background: rgba(0,0,0,0.8);
    border-radius: 25px;
    box-shadow: #111 0 3px 5px;
    margin: auto;
    overflow: auto;
}

/* ===============================
 * Navigation and Toolbar styles
 * ===============================
 */

nav {
    display: flex;
    flex-direction: column;
    width: 80px;
}

nav > div {
    flex: auto;
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80px;
    background: rgba(0,0,0,0.8);
    border-radius: 25px 0 0 0;
    border-right: 1px solid black;
}

.logo h1 {
    font-size: 48px;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, var(--primary-color) , var(--secondary-color));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color : transparent;
}

.logo h1 span {
    color: white;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    background: rgba(0,0,0,0.4);
    color: white;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
}

.nav-links ul li {
    font-size: 32px;
    padding: 10px;
    color: var(--primary-color);
    background: transparent;
    transition: all ease 0.3s;
}

.nav-links ul li:hover,
.nav-links ul li.active {
    background: rgba(255,255,255,0.04);
    color: white;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
}

.nav-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 128px;
    background: rgba(0,0,0,0.8);
    border-radius: 0 0 0 25px;
    font-size: 24px;
    padding: 15px 0;
}

.nav-account div {
    flex: auto;
}

.nav-account a {
    text-decoration: none;
    color: inherit;
}

/* ===============================
 * Content styles
 * ===============================
 */

.content {
    position: relative;
    flex: 10;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.2);
    border-radius: 0 var(--default-br) var(--default-br) 0;
}

.content-tools {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    flex-direction: row;
    height: 80px;
    background: rgba(0,0,0,0.4);
    padding: 0 var(--default-pad);
    border-radius: 0 var(--default-br) 0 0;
}

.content-tools ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.content-tools ul li {
    display: inline-block;
    font-size: 24px;
    margin-right: var(--default-pad);
}

.content-tools ul li a,
.content-tools ul li .button {
    color: inherit;
    text-decoration: none;
}

.content-detail {
    padding: var(--default-pad);
    overflow: scroll;
}

.content-detail .row {
    margin-bottom: 25px;
}

.content-detail hr {
    border-color: black;
    border-style: dotted;
    border-width: 3px;
}

.content-info {
    border-bottom: 3px dotted black;
    margin-bottom: 25px;
}

.content-empty {
    display: flex;
    align-items: center;
    padding: var(--default-pad);
    background: rgba(0,0,0,0.7);
    border-radius: var(--default-br);
    font-size: 22px;
}

/* ===============================
 * Buttons, Spans, and Elements
 * ===============================
 */

.button {
    cursor: pointer;
    padding: 5px 25px;
    font-size: 24px;
    border: 1px solid white;
    border-radius: var(--default-pad);
    color: white;
    text-decoration: none;
    vertical-align: middle;
    transition: all ease 0.4s;
}

.button-primary {
    border-color: var(--primary-color);
    color: white;
    transition: all ease 0.4s;
}

.button-primary:hover {
    color: white;
    border-color: white;
    transition: all ease 0.4s;
}

.button-secondary {
    border-color: var(--secondary-color);
    color: white;
    transition: all ease 0.4s;
}

.button-secondary:hover {
    border-color: white;
    color: white;
    transition: all ease 0.4s;
}

.button i {
    vertical-align: middle;
}

.panel {
    position: relative;
    background: rgba(0,0,0,0.6);
    border-radius: 25px;
    box-shadow: #000 0 5px 8px;
    margin-bottom: 25px;
}

/* Panel Styles */

.panel .panel-tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(0,0,0,0.8);
    border-radius: 25px 25px 0 0;
    padding: var(--default-pad);
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
}

.panel-tools h1,
.panel-tools h2,
.panel-tools h3 {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.panel-tools i {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-size: 28px;
}

.panel-tools i.button {

}

.panel-tools ul {
    display: flex;
    flex-wrap: nowrap;
}

.panel-tools ul li {
    flex: 1;
}

.panel-detail {
    width: 100%;
    color: white;
    padding: var(--default-pad);
}

.panel-stat {
    font-size: 64px;
}

.panel input {
    display: inline-block;
    background: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
    color: white;
    font-size: 24px;
    border-color: transparent;
    transition: all ease 0.4s;
}

.panel-detail p {
    font-size: 22px;
    color: white;
    padding: 0;
}

.panel textarea {
    width: 100%;
    background: var(--primary-color);
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 24px;
    color: white;
    transition: all ease 0.4s;
}

.panel input:focus, .panel textarea:focus {
    background: var(--secondary-color);
    transition: all ease 0.4s;
}

.empty {
    display: flex;
    align-items: center;
    padding: var(--default-pad);
    border-radius: var(--default-br);
    background: rgba(0,0,0,0.6);
}

.empty img {
    margin: 0 25px;
}

.card {
    position: relative;
    border-radius: var(--default-br);
    border: 1px solid var(--primary-color);
    background: rgba(0,0,0,0.6);
    color: white;
    margin: 10px;
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--default-pad);
}

.card-tools {
    background: black;
    border-radius: 0 0 var(--default-br) var(--default-br);
    border-top: 1px solid var(--primary-color)
}

.card-tools ul {
    list-style: none;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.card-tools ul li {
    flex: auto;
}

.card-tools ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
}

.card-tools ul li i {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    margin-right: 15px;
    color: #333;
}

.card h2,
.card h3 {
    color: var(--secondary-color);
    border-bottom: 1px dotted #000;
    margin-bottom: 25px;
}

.card img {
    margin: var(--default-br);
}

.card-detail {

}

.card-icon {
    position: absolute;
    color: rgba(255, 255, 255, 0.1);
    font-size: 256px;
    top: 0;
    right: 0;
    z-index: -1;
}

.card-icon-red {
    color: rgba(255, 57, 57, 0.3);
}
